<div style="font-size:30px; font-weight: 600;" class="text-primary text-centerd">
  Shopping Cart - 3 items
</div>
<div class="m-2" style="font-size: smaller;">
  <div class="pb-2 pt-2 row border-bottom">
    <div class="col-2"><img src="../../assets/camera.jpg" class="img-thumbnail" alt=""></div>
    <div class="col-3">Product Name 1</div>
    <div class="col-2"><div class="btn-group" role="group" >
      <button type="button" class="btn ">-</button>
      <button type="button" class="btn border">1</button>
      <button type="button" class="btn ">+</button>
    </div></div>
    <div class="col-3 text-center">$99.00</div>
    <div class="col-2" style="font-weight:boldest" >X</div>


  </div>
  <div class="pb-2 pt-2 row border-bottom">
    <div class="col-2"><img src="../../assets/camera.jpg" class="img-thumbnail" alt=""></div>
    <div class="col-3">Product Name 1</div>
    <div class="col-2"><div class="btn-group" role="group" >
      <button type="button" class="btn ">-</button>
      <button type="button" class="btn border">1</button>
      <button type="button" class="btn ">+</button>
    </div></div>
    <div class="col-3 text-center">$99.00</div>
    <div class="col-2" style="font-weight:boldest" >X</div>
  </div>
  <div class="pb-2 pt-2 row border-bottom">
    <div class="col-2"><img src="../../assets/camera.jpg" class="img-thumbnail" alt=""></div>
    <div class="col-3">Product Name 1</div>
    <div class="col-2"><div class="btn-group" role="group" >
      <button type="button" class="btn ">-</button>
      <button type="button" class="btn border">1</button>
      <button type="button" class="btn ">+</button>
    </div></div>
    <div class="col-3 text-center">$99.00</div>
    <div class="col-2" style="font-weight:boldest" >X</div>
  </div>
  <div class=" m-2 d-flex flex-row-reverse ">
    <button class="btn btn-primary">Checkout</button>
  <p class="p-2" style="font-weight: bold;"> Total - $297.00</p>

  </div>
</div>
